<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>QueryBuilderApp</title>
    <link href="bower_modules/components-bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="bower_modules/At.js/dist/css/jquery.atwho.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">
    <script src="scripts.js"></script>
</head>

<body>
    <nav-bar params="route: route"></nav-bar>
    <div id="page" class="container-fluid" data-bind="component: { name: route().page, params: route }"></div>
</body>

</html>